@tailwind base;
@tailwind components;
@tailwind utilities;


.about-hero{
  background-image: url("/images/Old\ western\ train\ tracks.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3.5rem 1rem;
}
.contact-hero{
  background-image: url("/images/Motion\ blur\ of\ automatic\ train\ moving\ inside\ tunnel\ in\ tokyo\,\ japan..png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3.5rem;
}
.backg{
  background-image: url('/images/138\ 1\ \(2\).png');
  background-size: cover;
  background-repeat: no-repeat;

  
 
}

@media (width > 768px) {
  .about-hero{
    padding: 10rem;
  }
}


  .contact-hero{
    padding: 10rem;
  }

@media (width > 1023px){
  .backg{
    background-image: none;
  }
}
